certifi
chardet
decorator
falcon
gunicorn
httpie
idna
ipython
ipython-genutils
jedi
marshmallow
msgpack-python
pexpect
pickleshare
prompt-toolkit
ptyprocess
py
Pygments
pytest
python-mimeparse
requests
simplegeneric
six
traitlets
urllib3
wcwidth
