@import "util";

.card {
  background: #FFF;
  min-height: 10em;
  min-width: 25em;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: .2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @for $i from 1 through 5 {
    &--shadow-#{$i} {
      @extend .shadow-#{$i};
    }
  }

  &__media {
    background-size: cover;
    background-position: center;
    min-height: 20em;
    padding: .4em .8em;
  }

  &__content {
    padding: .4em 1.6em;
  }

  &__title {
    &__container {
      padding: 1.6em 1.6em .4em 1.6em;
    }
    &__primary-text {
      &__text {
        font-size: 2.4em;
        font-weight: 500;
      }
    }
    &__secondary-text {
      &__text {
        font-size: 2em;
        font-weight: 300;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    padding: .4em 1.6em 1.6em 1.6em;

    &__action {
      justify-content: flex-end;
      margin: .4em .8em 0 .4em;
    }
  }
}