@import "colors";

$background-color--accent: lighten($accent, 16);
$loader-color--accent: $accent;

$background-color--primary: lighten($primary, 16);
$loader-color--primary: $primary;

.loader,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.loader {
  margin: 1.6em auto;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba($background-color--accent, .75);
  border-right: 1.1em solid rgba($background-color--accent, .75);
  border-bottom: 1.1em solid rgba($background-color--accent, .75);
  border-left: 1.1em solid $loader-color--accent;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;

  &--accent {
    border-left: 1.1em solid $loader-color--accent;
    border-top: 1.1em solid rgba($background-color--accent, .75);
    border-right: 1.1em solid rgba($background-color--accent, .75);
    border-bottom: 1.1em solid rgba($background-color--accent, .75);
  }

  &--primary {
    border-left: 1.1em solid $loader-color--primary;
    border-top: 1.1em solid rgba($background-color--primary, .75);
    border-right: 1.1em solid rgba($background-color--primary, .75);
    border-bottom: 1.1em solid rgba($background-color--primary, .75);
  }
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
