.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.shadow-2, .navbar--shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.shadow-3, .small-navbar__logo, .navbar .navbar__logo {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.full-height-page {
  min-height: 55em; }
  @media (min-height: 40em) {
    .full-height-page {
      min-height: calc(100vh - 6.4em); } }
  @media (min-height: 40em) and (min-width: 42em) {
    .full-height-page {
      min-height: 100vh; } }

.divider {
  width: 75%;
  border: .1em solid;
  margin: .8em auto;
  border-radius: .2em; }
  .divider--brown-500 {
    border-color: #795548; }
  .divider--green-500 {
    border-color: #4caf50; }
  .divider--green-700 {
    border-color: #388e3c; }

.social-icon:before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  padding-right: 0.5em;
  font-size: 1.6em;
  vertical-align: middle; }

.small-navbar {
  z-index: 97;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #7b1fa2;
  height: 6.4em;
  transition: top 250ms ease;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 42em) {
    .small-navbar {
      top: -7.4em; } }
  .small-navbar__logo {
    align-self: flex-start;
    max-width: 20em;
    margin: .8em;
    background: #FFF;
    padding: .8em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
  .small-navbar .menu-btn {
    margin: .8em; }

.navbar-background {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: -99;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 150ms ease; }
  .navbar-background--show {
    z-index: 98;
    opacity: 1; }
  @media (min-width: 42em) {
    .navbar-background {
      z-index: -99;
      opacity: 0; } }
  .navbar-background .menu-btn {
    margin: .8em;
    position: fixed;
    top: 0;
    right: 0; }

.navbar {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -26em;
  width: 25em;
  background: #7b1fa2;
  transition: left 250ms ease;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .navbar--show {
    left: 0; }
  @media (min-height: 30em) {
    .navbar {
      height: 100%; } }
  @media (min-width: 42em) {
    .navbar {
      left: 0; } }
  .navbar .navbar__logo {
    min-height: 15em;
    max-width: 20em;
    align-self: center;
    margin: 0 auto;
    background: #FFF;
    padding: .8em;
    display: flex;
    align-items: center; }
  .navbar .navbar__links {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: right;
    margin: 1.6em 0;
    min-height: 15em; }
    .navbar .navbar__links .navbar__links__link {
      text-decoration: none;
      line-height: 160%;
      padding: 1.6em;
      transition: all 150ms ease; }
      .navbar .navbar__links .navbar__links__link .navbar__links__link__text {
        color: #FFF;
        font-size: 1.6em; }
      .navbar .navbar__links .navbar__links__link:hover {
        background: #c5e1a5; }
        .navbar .navbar__links .navbar__links__link:hover .navbar__links__link__text {
          color: #212121; }
      .navbar .navbar__links .navbar__links__link--selected {
        background: #9ccc65; }
        .navbar .navbar__links .navbar__links__link--selected .navbar__links__link__text {
          color: #212121; }
  .navbar .navbar__social-links {
    margin: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center; }
    .navbar .navbar__social-links .navbar__social-links__link {
      color: #424242;
      margin: 0 .8em;
      cursor: pointer;
      transition: all ease 250ms; }
      .navbar .navbar__social-links .navbar__social-links__link:hover {
        color: #212121; }

.menu-btn {
  transition: all 100ms ease; }
  .menu-btn--hide {
    opacity: 0; }
